# Homework 2

This homework will get you start working with R. Before we do anything, run the following code:

In [70]:
cat(Sys.info(),file="../other/hw2-info")

## Task 1

Install and load the library [RUnit](https://cran.rstudio.com/web/packages/RUnit/index.html) in the cell below.

In [71]:
install.packages("RUnit", repos='http://cran.us.r-project.org')
library(RUnit)

Warning message:
"package 'RUnit' is in use and will not be installed"

## Task 2

Read the documentation on the [distrubutions supported by R](https://stat.ethz.ch/R-manual/R-devel/library/stats/html/Distributions.html). Now, in the cell below write the code that takes a sample floating point numbers of size 2500 from the normal distribution with mean 1.0 and standard deviation 0.5. If your code is correct, the cell below will run without an error.

In [72]:
xs <- rnorm(n = 2500, mean = 1.0, sd = 0.5)

## Do not alter the code below

checkEquals(length(xs),2500)
checkTrue(ks.test(xs,rnorm(1000,mean=1.0,sd=0.5))$statistic < 0.05)

[1] TRUE

[1] TRUE

Now, calculate the mean and standard deviation of the collection `xs` we defined above:

In [73]:
# Here goes your code for the mean
mean(xs)

# Here goes your code for the standard deviation
sd(xs)

[1] 0.9897647

[1] 0.5117803

In the cell below, explain in plain words why the mean and deviation did not come out exactly 1.0 and 0.5.

Our sample floating point numbers of size 2500 is not big enough to provide these numbers as they should be. In other words while n increases, its mean and standard deviation converges to 1 and 0.5 respectively.

## Task 3

Now, repeat what you have done above for the uniform distribution. Read the documentation first and then take a sample of 5000 numbers uniformly distributed between -1 and 1 below:

In [74]:
ys <- runif(n = 5000, min = -1.0, max = 1.0)

## Do not alter the code below

checkEquals(length(ys),5000)
checkTrue(ks.test(ys,runif(1000,min=-1.0,max=1.0))$statistic < 0.05)

[1] TRUE

[1] TRUE

Now, sketch a histogram of the collections `xs` and `ys` below:

In [75]:
png(file="../images/HW2-task3.png")
par(mfrow=c(2,1))
# Do not alter the code above


# Here goes your code for the histogram of xs
hist(xs)

# Here goes your code for the histogram of ys
hist(ys)

# Do not alter the code below
dev.off()
checkTrue(file.exists("../images/HW2-task3.png"))

png
  2

[1] TRUE

In your own words, explain the difference between `xs` and `ys` in the cell below. How does this difference shows itself in the histograms.

First of all xs has normal distribution with a mean = 1.0 and sd = 0.5. On the other hand ys has uniform distribution. That means the numbers that ys generates spreads uniformly between 1.0 and -1.0 but since xs has normal distribution the numbers tends to spread not as balanced as uniform distribution.This difference shows itself in the histograms with frequencies. In ys's histogram numbers have almost identical frequencies between -1.0 and 1.0. In xs's histogram frequencies get bigger while getting closer to mean = 1.0.

## Task 4

Read the documentation on [sample](https://stat.ethz.ch/R-manual/R-devel/library/base/html/sample.html) and simulate throwing a biased coin with odds of getting a 'heads' against a 'tails' is 4 to 1.

In [76]:
result <- sample(c("T","H"), 10000, replace = TRUE, prob=c(1,4))

table(result)

result
   H    T
7978 2022

## Task 5

R comes prepackaged with a large number of datasets. You can read about them [from here](https://stat.ethz.ch/R-manual/R-patched/library/datasets/html/00Index.html).  For this task, we are going to use [mtcars](https://stat.ethz.ch/R-manual/R-patched/library/datasets/html/mtcars.html) dataset.

Our first subtask is to filter the data-set: In the cell below, filter `mtcars` such that we are left with only the data for the cars with 4 cyclinders or less.

In [77]:
subcollection <-  
subcollection <- mtcars[mtcars$cyl <= 4,]
subcollection

# Do not alter the code below

checkEquals(subcollection$cyl,rep(4,11))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

[1] TRUE

Now, calculate the average fuel efficiency for cars with 4 or less than 4 cylinders below.

In [78]:
mean.mpg <- mean(subcollection$mpg)
mean.mpg

checkEqualsNumeric(mean.mpg, 26.66, tolerance = 0.001)

[1] 26.66364

[1] TRUE

## Task 6

Read the documentation on [`aggregate`](https://stat.ethz.ch/R-manual/R-devel/library/stats/html/aggregate.html).  Using this function, calculate mean miles per galon for the `mtcars` datasets grouped by the number of cylinders.

In [79]:
res <- aggregate(mpg~cyl, data = mtcars, mean)
res

checkEqualsNumeric(res$mpg,c(26.66,19.74,15.1),tolerance = 0.001)

  cyl mpg
1 4   26.66364
2 6   19.74286
3 8   15.10000

[1] TRUE

## Task 7

Read the documentation on [plot](https://stat.ethz.ch/R-manual/R-devel/library/graphics/html/plot.html) and make a line plot of the time series dataset [AirPassengers](https://stat.ethz.ch/R-manual/R-patched/library/datasets/html/AirPassengers.html).

In [80]:
png(file="../images/hw2-task7a.png")
# Do not alter the code above this line

plot(AirPassengers)

# Do not alter the code below this line
dev.off()
checkTrue(file.exists("../images/hw2-task7a.png"))

png
  2

[1] TRUE

Now, read the documentation on [pairs](https://stat.ethz.ch/R-manual/R-devel/library/graphics/html/pairs.html) and make a pairs plot of the [iris dataset](https://stat.ethz.ch/R-manual/R-patched/library/datasets/html/iris.html).

In [81]:
png(file="../images/hw2-task7b.png")
# Do not alter the code above this line

pairs(iris, main = "Anderson's Iris Data")

# Do not alter the code below this line
dev.off()
checkTrue(file.exists("../images/hw2-task7b.png"))

png
  2

[1] TRUE